## Read csv

In [7]:
import pandas as pd
df = pd.read_csv('random_weather_data.csv')
df

           asa                sa         Unnamed: 2    Unnamed: 3 Unnamed: 4
0          Day  Temperature (째C)  Wind Speed (km/h)  Humidity (%)      Event
1   01/01/2025                 9                 39            30      Rainy
2   02/01/2025                 5                 22            66      Sunny
3   03/01/2025                -5                 19            62      Sunny
4   04/01/2025                 1                 30            51     Normal
5   05/01/2025                 3                 20            74      Rainy
6   06/01/2025                23                 31            64     Cloudy
7   07/01/2025                24                  9            85     Cloudy
8   08/01/2025                -8                 35            54     Normal
9   09/01/2025                 8                 44            80      Rainy
10  10/01/2025                -6                 28            46      Rainy

In [8]:
#here we can the there are some extra line in the starting of our dataset so we have  to skip it 

df = pd.read_csv('random_weather_data.csv', skiprows=1)  #this skiprow will skipedthe first row of the data 
df

          Day  Temperature (째C)  Wind Speed (km/h)  Humidity (%)   Event
0  01/01/2025                 9                 39            30   Rainy
1  02/01/2025                 5                 22            66   Sunny
2  03/01/2025                -5                 19            62   Sunny
3  04/01/2025                 1                 30            51  Normal
4  05/01/2025                 3                 20            74   Rainy
5  06/01/2025                23                 31            64  Cloudy
6  07/01/2025                24                  9            85  Cloudy
7  08/01/2025                -8                 35            54  Normal
8  09/01/2025                 8                 44            80   Rainy
9  10/01/2025                -6                 28            46   Rainy